{{>admin/header}}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Menambahkan Data Admin
			<small></small>
		</h1>
		<ol class="breadcrumb">
			<li>
				<a href="/admin">
					<i class="fa fa-dashboard"></i>Home</a>
			</li>
			<li><a href="/admin/users/id/:query?"><i class="fa fa-inbox"></i>List Admin</a></li>
		    <li class="active">Tambah</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content container-fluid">
		<div class="container-fluid half-padding">
			<div class="template template__blank">
				<div class="row">
					<!-- flash message -->
					
					
					<div class="col-md-12">
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title">Memasukkan Informasi</h3>
							</div>
							<form method="post" action="/admin/createUser">							
								<table class="table table-bordered">
									<tbody>
										<tr>
											<th style="width:50px">Nama</th>
											<td>
												<input type="text" class="form-control" name="name" style="width:300px" value="" required>												
											</td>
										</tr>
										<tr>
											<th style="width:50px">Email</th>
											<td>
												<input type="email" class="form-control" name="email" style="width:300px" value="" required>			
											</td>
										</tr>
										<tr>
											<th style="width:50px">Password</th>
											<td>
												<input type="password" class="form-control" name="password" style="width:300px" value="" required>
											</td>
										</tr>
                                        <tr>
											<th style="width:50px">Confirm Password</th>
											<td>
												<input type="password" class="form-control" name="password2" style="width:300px" value="" required>
											</td>
										</tr>
										<tr>
											<th style="width:150px"></th>
											<td colspan="2" style="width:250px">											
												<input type="submit" class="btn btn-primary" value="Simpan">
											</td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->
{{>admin/footer}}