</div>
</div>
</div>
<div class="footer">
    <div class="container">
        &copy; 
    </div>
</div>
<!-- jQuery 3 -->
<script src="/jquery/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>